* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/default.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

#searchContainer {
    align-self: center;
    position: relative;
    top: 30px;
}

#weatherForecast {
    background-color: rgba(0, 0, 0, 0.247);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    align-self: center;
    text-align: center;
    /* not visible because in default no description */
    visibility: hidden;
}

h1 {
    font-family: 'Castoro', serif;
}

hr {
    margin: 10px 0;
}

.searchControl {
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}